<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit person</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/persons/{id}(id=${person.getId()})}" th:object="${person}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name">
    <p/>
    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age">
    <p/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email">
    <p/>
    <input type="submit" value="Update">
</form>
</body>
</html>
